<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin-top: 2em;">
  <h2>
    {{ title }}
  </h2>
</div>
<div class="login-wrapper">
  <div>
    <h3>Login</h3>
    <div class="login-container">
      <p class="input-box">
        <input #username
               type="text" 
               class="form-control"
               placeholder="Username">
      </p>
      <p class="input-box">
        <input #password
               type="password" 
               class="form-control" 
               placeholder="Password">
      </p>
    </div>
    <div class="button-wrapper">
      <button type="button"
              class="btn btn-primary btn-lg"
              (click)="onLogin(username.value, password.value)">Login</button>
    </div>
  </div>
</div>
<div class="login-status">
  <p>{{ showLoginStatus }}</p>
</div>

